# Importing the required Library

In [1]:
import pandas as pd

# Reading the DataSet

In [2]:
df = pd.read_csv(r"C:\Users\kanna\AppData\Local\IMDBMovie.csv")

In [3]:
df

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02
...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,Crime,Billy Ray,2015,111,6.2,27585,NaN
996,997,Hostel: Part II,Horror,Eli Roth,2007,94,5.5,73152,17.54
997,998,Step Up 2: The Streets,Drama,Jon M. Chu,2008,98,6.2,70699,58.01
998,999,Search Party,Adventure,Scot Armstrong,2014,93,5.6,4881,NaN
999,1000,Nine Lives,Comedy,Barry Sonnenfeld,2016,87,5.3,12435,19.64

# What is the 75th percentile in the IMDB dataset?

In [4]:
df["Rating"].quantile(q=0.75)

7.4

# How many NA values are there in the field ‘Revenue’?

In [5]:
df.isna().sum()

ID                    0
Title                 0
Genre                 0
Director              0
Year                  0
Runtime_minutes       0
Rating                0
Votes                 0
Revenue_millions    128
dtype: int64

# How many movies have revenue higher than 75 million?

In [6]:
df[df['Revenue_millions'] > 75].shape[0]

318

# How many movies have revenue greater than 50 million but rating less than 7?

In [7]:
df[(df["Revenue_millions"] > 50) & (df["Rating"] < 7)].shape[0]

211

# What is the total revenue generated by movies in the year 2015?

In [8]:
df[df["Year"]==2015]["Revenue_millions"].sum()

8854.119999999999

# What is the average rating for the genre adventure in the year 2015?

In [9]:
df[(df["Year"]==2015) & (df["Genre"]=="Adventure")]["Rating"].mean()

6.799999999999999

# What is the average duration of movies in rows 75 to 150? Please note that the rows in python start from 0.

In [10]:
df.iloc[75:150]["Runtime_minutes"].mean()

127.61333333333333

# Which year generated the highest revenue?

In [11]:
df.groupby("Year")["Revenue_millions"].sum()

Year
2006     3624.46
2007     4306.23
2008     5053.22
2009     5292.26
2010     5989.65
2011     5431.96
2012     6910.29
2013     7666.72
2014     7997.40
2015     8854.12
2016    11211.65
Name: Revenue_millions, dtype: float64

# How many movies with the genres ‘Adventure’, ‘Action’, ‘Horror’, and ‘Crime’ exist in the IMDB dataset?

In [12]:
df["Genre"].isin(["Adventure", "Action", "Horror","Crime"]).sum()

485

# Create a genre-level report with metrics average rating, the average number of votes, and average revenue. What is the average rating of the ‘Horror’ genre? (Round to 2 decimal places)

In [13]:
df.groupby("Genre").agg({'Rating': 'mean','Votes': 'mean','Revenue_millions': 'mean'})["Rating"].round(2)

Genre
Action       6.59
Adventure    6.91
Animation    7.32
Biography    7.32
Comedy       6.49
Crime        6.81
Drama        6.95
Fantasy      5.85
Horror       5.87
Mystery      6.88
Romance      6.60
Sci-Fi       4.97
Thriller     5.96
Name: Rating, dtype: float64

# Create a report to showcase the revenue of each movie, as % revenue concerning the total revenue of the respective genre and year of the movie.

For example if a movie ‘ABC’ has genre ‘Action’ and released in 2015, then % revenue will be

(Revenue of the movie ‘ABC’ *100)/ (Total revenue of the genre ‘Action’ in 2015)
What is the % revenue of the movie ‘Split’ in its respective genre and year?

Hint:

Create a dataset which has revenue for each genre within a year Rename the column as ‘Total_revenue’ Merge the dataset with cleaned dataset so that total revenue is mapped to each movie Just apply percent formula using apply(lamda) Revenue of movie * 100 / (Total revenue of genre and year)

In [14]:
genre_year_revenue = df.groupby(['Genre', 'Year'])['Revenue_millions'].sum().reset_index()
genre_year_revenue.rename(columns={'Revenue_millions': 'Total_revenue'}, inplace=True)

In [15]:
merged_data = pd.merge(df, genre_year_revenue, on=['Genre', 'Year'])

In [16]:
merged_data['Percentage_revenue'] = (merged_data['Revenue_millions'] * 100) / merged_data['Total_revenue']

Query the merged dataset for ‘Split’ movie

In [17]:
merged_data.loc[merged_data['Title'] == 'Split', 'Percentage_revenue'].values[0]

29.42041024985622